/* .hp-container {
   background: black;
    } */

.hp-img-container {
  width: 50%;
}
.mainPic {
    width: 90%; 
   padding-left: 70px;
}
.hp-page-container {
    display: flex;
    height: 100%;
    padding-top: 100px;
}
.hp-content-container {
  text-align: center;
  margin: auto;
}

.hp-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 400%;
}

.hp-content-container button {
    font-size: 110%;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgb(42, 32, 177);

    color: white;
    
}
