.view-network-container {
  text-align: center;
}

/* .events-containers {

} */

.network-events-container {
  float: right;
  margin-right: 5%;
}

.my-events-container {
  float: left;
  margin-left: 5%;
}



.view-network-container-big {
  background: url('mug.jpg');
  /* background-attachment: fixed; */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  margin-top: 0;
  height: 1600px;
  width: 100%;
}

.view-network-container {
  width: 100%;
}

.conditional-events-container {
  width: 100%;
}

.events-container {
  width: 100%;
}

.my-events-container{
  width: 100%;
}

.network-events-container{
  width: 100%;
}