.manage-networks-map {
    /* display: inline; */
}

.network-manager-card {
    margin: 20px;
    display: inline-block;
  background-color: rgba(196, 177, 177, 0.781);
  height: 55px;
  cursor: pointer;
  width: 70%;
  margin-left: 15%;
  
}

.network-manager-card p {
  padding-top: 1%;
  font-size: 100%;
  color: rgb(39, 39, 39);
  text-align: left;
  margin-left: 30px;
}

.network-manager-card button {
  font-size: 90%;
  cursor: pointer;
  padding: 8px 20px;
  width: 120px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgb(131, 55, 78);
  color: white;
  font-family: "Roboto", sans-serif;
}
